<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<config>
        --><!-- The location in which to install NuGet packages. --><!--
        <add key="repositoryPath" value="packages" />
    </config>-->

    <!-- Do not check-in nuget packages. -->
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>

    <!-- Configures whether NuGet does automatic binding redirects when a package is installed. -->
    <bindingRedirects>
        <add key="skip" value="True" />
    </bindingRedirects>
    
    <!-- Define the package repositories. -->
    <packageSources>
        <add key="StandalonePackages" value="https://fstfp01/FinstarMainCollection/Standalone/_packaging/StandalonePackages/nuget/v3/index.json" />
        <add key="ThirdPartyPackages" value="https://fstfp01/FinstarMainCollection/_packaging/ThirdPartyPackages/nuget/v3/index.json" />
        <add key="Internal Packagesource DevOps Server" value="\\fstfp01\NugetPackages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>

    <!--<fallbackPackageFolders>
        <add key="Finstar Offline Packages" value="packages"/>
    </fallbackPackageFolders>-->
</configuration>